<style>

body{
  font-family: Arial, sans-serif;
  margin:0;
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer */
  user-select: none;         /* Standard syntax */
}

nav{
  width: 100%;
  height: 10em;
  position: relative;
}

.featureModel{
  width: 100em;
  height: 35em;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin: 4em;
}

.upperHeader{
  background-color: rgb(26,25,23);
  height: 30%;
}

.bottomHeader{
  background-color: rgb(237,236,235);
  height: 70%;
}

nav img{
  position: absolute;
  height: 80%;
  margin-left: 3em;
  margin-top: 1em;
}

div img{
  display: block;
  margin: 0 auto;
  width: 25em;
}

.container
{
  margin-left: 0;
  margin-top: 10vh;
  padding: 2em;
  width: 50%;
}

ul{
  list-style: none;
}

.button-style {
  font-size: 1.5em;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 4vh;
  width: 20em;
  background-color: rgb(237,236,235);
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border-radius: 0.5em;
  text-decoration: none;
}

p{
  font-size: 1.5em;
  text-align: center;
  margin-top: 4em;
}

li p{
  margin-left: 3em;
  font-size: 1.5em;
  text-align: center;
}

li{
  margin: 0 auto;
  margin-top: 3em;
  text-align: center;
  align-items: center;
  display: flex;
  width: 40vw;
}

li img{
  margin: 0;
  margin-top: 2em;
  width: 10em;
}


</style>

<nav>
  <img src = "/images/ingoverkno-logo.png"/>
  <div class= 'upperHeader'>
  </div>
  <div class= 'bottomHeader'>
  </div>
</nav>

<div style = 'display: flex;'>

    <div class = 'container'>
        <img src = "/images/ingoverkno-logo.png"/>
        <p><b>Deploy a smart system in seconds to manage governance on your council.</b></p>
        <%= link_to 'Start for free', login_path, class: 'button-style' %>
    </div>
    <div class = 'container'>

      <ul>
        <li>
          <img src = "/images/selection.png"/>
          <p><b>Select the features you need for your council</b></p>
        </li>
        <li>
          <img src = "/images/launch.png"/>
          <p><b>Deploy a website effortlessly to promote citizen participation</b></p>
        </li>
        <li>
          <img src = "/images/decision.png"/>
          <p><b>Use the management system with your citizens and improve decision making</b></p>
        </li>
      </ul>
    </div>

</div>