<style>
#instance_form {
  font-family: Arial, sans-serif;
  width: 100%;
}

body{
  margin:0;
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer */
  user-select: none; /* Standard syntax */
}

nav{
  width: 100%;
  height: 10em;
  position: relative;
}

.upperHeader{
  background-color: rgb(26,25,23);
  height: 30%;
}

.bottomHeader{
  background-color: rgb(237,236,235);
  height: 70%;
}

nav img{
  position: absolute;
  height: 80%;
  margin-left: 3em;
  margin-top: 1em;
}

table {
	margin: 20px 0;
	border-collapse: collapse;
	table-layout: auto;
	margin: 2em auto;
}

th, td {
	padding: 12px 20px;
	text-align: left;
	border: 0;
	border-bottom: 0.2em solid white;
}

th {
  background-color: rgb(237,236,235);
	color: black;
	white-space: nowrap;
}
</style>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<nav>
  <img src = "/images/ingoverkno-logo.png"/>
  <div class= 'upperHeader'>
  </div>
  <div class= 'bottomHeader'>
  </div>
</nav>

<table> <!-- Adding a border for visibility -->
	<tr>
		<th>Instance</th>
		<th>Port</th>
		<th>Multi Tenant</th>
		<th>Status</th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% @instances.each do |instance| %>
		<tr>
			<th><%=instance.name%></th>
			<th><%=instance.port%></th>
			<th><%=instance.multi_tenant%></th>
			<th><%=instance.status%></th>
			<th><i class="material-icons" style='color: black'>remove_red_eye</i></th>
			<th><i class="material-icons" style='color: black'>play_arrow</i></th>
			<th><i class="material-icons" style='color: black'>publish</i></th>
			<th><i class="material-icons" style='color: black'>delete</i></th>
		</tr>
	<% end %>
</table>
